
<h3>Create a new dependent:</h3>
<br>

<form action='/dependents/new' method="post">

<label>Name: 
<input type=text name="name" value="name">
</label>

<input type=submit value=Next id=submit>

</form>