<% if flash[:error] %>
<%= flash[:error] %> 
<% end %>

<h4>Enter your credentials:</h4>
<br>
<form action='/users/login' method="post">

<label>Email: 
<input type=text name="email">
</label>

<label>Password: 
<input type=text name="password">
</label>

<input type=submit value=LogIn id=submit>

</form>
<br>
<a href="/">Back</a>