<form action='/login' method="post">

<label>Username: 
<input type=text name="username">
</label>

<label>Password: 
<input type=text name="password">
</label>

<input type=submit value=LogIn id=submit>

</form>