<% if flash[:error] %>
<%= flash[:error] %> 
<% end %>

<form action='/users/login' method="post">

<label>Email: 
<input type=text name="email">
</label>

<label>Password: 
<input type=text name="password">
</label>

<input type=submit value=LogIn id=submit>

</form>