<% if flash[:error] %>
   <h3 class="has-text-danger"><%= flash[:error] %></h3>
<% end %>

<br>
<h3 class="subtitle has-text-weight-bold">Please enter your email and password:</h3>
<br>

<form action='/users/login' method="post">

<label>Email: 
<input type=text name="email">
</label>

<label>Password: 
<input type=text name="password">
</label>

<input type=submit value=LogIn id=submit>
<br>
<br>

<a href="/">Back</a>

</form>

