<h2> Welcome to your dashboard, <%= @user.name %>! </h2>

<% @user.dependents.each do |d| %>
    <p><%= d.name %></p>
    <% d.activities.each do |a| %> 
       <p><%= a.title %></p>
    <% end %>
    <% end %>



        



