<% if flash[:error] %>
    <h3 class="has-text-danger"><%= flash[:error] %></h3>
<% end %>

<br>
<h3 class="subtitle has-text-weight-bold">Enter your information below to get started!</h3>
<br>

<form action='/users/signup' method="post">

<label>Name: 
<input type=text name="name">
</label>

<label>Email: 
<input type=text name="email">
</label>

<label>Password: 
<input type=text name="password">
</label>

<input type=submit value=SignUp id=submit>
<br>
<br>

<a href="/">Back</a>

</form>
