<% if flash[:error] %>
    <h3 class="has-text-danger"><%= flash[:error] %></h3>
<% end %>

<br>
<h3 class="subtitle has-text-weight-bold">Create your Activity:</h3>

<form action='/activities/new' method="post">

<br>
<label>Dependent Name: 
<input type=text name="dependent_name">
</label> *required
<br>
<br>
<label>Activity Title: 
<input type=text name="title">
</label> *required
<br>
<br>
<label>Contact Name: 
<input type=text name="contact_name">
</label>
<br>
<br>
<label>Contact Phone: 
<input type=text name="contact_phone">
</label>
<br>
<br>
<label>Website: 
<input type=text name="website">
</label>
<br>
<br>
<label>Notes: 
<input type=text name="notes">
</label>
<br>
<br>
<input type=submit value=Create Activity id=submit>
</form>
<br>
<a href="/users/<%=current_user.id %>">Cancel</a>




